%head
  %title Danilova Daria's website
  %link{:href => "studies_style.css", :rel => "stylesheet"}/
  %script{:src => "studies.js"}
%body{:bgcolor => "#000000"}
  %h1{:align => "center"} Danilova Daria's website
  %nav
    %ul
      %li
        %a{:href => ""} Main page
      %li
        %a{:href => ""} About me
      %li
        %a{:href => ""} My hobbies
      %li.on
        %a{:href => ""} Study
      %li
        %a{:href => ""} Photoalbum
      %li
        %a{:href => ""} Contancts
      %li
        %a{:href => ""} Test
      %li
        %a{:href => ""} History
  %h3
    Sevastopol State University
    %br/
    Department:Information Systems
  %table{:align => "center", :border => "1"}
    %caption Over view of the list of disciplines
    %tr
      %td{:align => "center", :colspan => "9"}
        PLAN OF THE LEARNING PROCESS
    %tr
      %th{:rowspan => "2"} #
      %th{:rowspan => "2"} Discipline
      %th{:rowspan => "2"} Department
      %th{:colspan => "6"} Total hours
    %th Total
    %th Aud
    %th Lk
    %th Lr
    %th Pr
    %th CRC
    %tr
      %td 1
      %td Ecology
      %td BZ
      %td 54
      %td 27
      %td 18
      %td 0
      %td 9
      %td 27
    %tr
      %td 2
      %td Higher mathematics
      %td BM
      %td 540
      %td 282
      %td 141
      %td 0
      %td 141
      %td 258
    %tr
      %td 3
      %td Russian language and culture of speech
      %td NG&G
      %td 108
      %td 54
      %td 18
      %td 0
      %td 36
      %td 54
    %tr
      %td 4
      %td Discrete Mathematics Fundamentals
      %td IS
      %td 216
      %td 139
      %td 87
      %td 0
      %td 52
      %td 77
    %tr
      %td 5
      %td Fundamentals of programming and algorithmic language
      %td IS
      %td 405
      %td 210
      %td 105
      %td 87
      %td 18
      %td 195
    %tr
      %td 6
      %td Fundamentals of Ecology
      %td PEOP
      %td 54
      %td 27
      %td 18
      %td 0
      %td 9
      %td 27
    %tr
      %td 7
      %td Theory of Probability and Mathematical Statistics
      %td IS
      %td 162
      %td 72
      %td 54
      %td 18
      %td 0
      %td 90
    %tr
      %td 8
      %td Physics
      %td Physics
      %td 324
      %td 194
      %td 106
      %td 88
      %td 0
      %td 130
    %tr
      %td 9
      %td Fundamentals of Electrical and Electronics Engineering
      %td IS
      %td 108
      %td 72
      %td 36
      %td 18
      %td 18
      %td 36
    %tr
      %td 10
      %td Numerical methods in computer science
      %td IS
      %td 189
      %td 89
      %td 36
      %td 36
      %td 17
      %td 100
    %tr
      %td 11
      %td Operations Research Methods
      %td IS
      %td 216
      %td 104
      %td 52
      %td 35
      %td 17
      %td 112